:root {
  --midnight-violet: #F5F5F5; /* main background */
  --dark-garnet: #FFFFFF; /* card background */
  --rust-brown: #326E9E; /* secondary color */
  --lime-cream: #333333; /* text color */
  --medium-jungle: #4E9FA9; /* primary color */
  --coral-accent: #FF8B7A; /* accent color */
  --light-text: #FFFFFF;
  --light-grey-background: #EEEEEE;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--midnight-violet);
  color: var(--lime-cream);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}