.game-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(
      0deg,
      transparent 0%,
      rgba(132, 123, 255, 0.7) 50%,
      transparent 100%
    ),
    linear-gradient(
      0deg,
      rgba(120, 56, 209, 0.8) 0%,
      rgba(132, 123, 255, 0.5) 100%
    ),
    linear-gradient(
      45deg,
      rgba(120, 56, 209, 0.5) 0%,
      rgba(132, 123, 255, 0.5) 100%
    ),
    repeating-conic-gradient(
      rgba(132, 123, 255, 0.5) 0% 2.5%,
      transparent 2.5% 5%
    ),
    repeating-conic-gradient(from 45deg, #8d42f5 0% 25%, #7838d1 0% 50%) 50%/40px
      40px;
}

.player-photo-Game {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
}

.player-name-Game {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--midnight-violet);
  color: var(--lime-cream);
  font-size: 1.5em;
  font-weight: 600;
}

.game-header {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.back-button {
  width: 50px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.back-button:hover {
  transform: scale(1.1);
}
