.chat-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow: hidden;
  max-width: 400px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease-in-out;
}

.chat-container.open {
  height: 500px;
}

.chat-container.closed {
  height: 40px;
  background-color: transparent;
  box-shadow: none;
}

.chat-toggle-button {
  width: 150px;
  height: 40px;
  border-radius: 8px 8px 0 0;
  border: none;
  background-color: var(--medium-jungle);
  color: var(--light-text);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.2s;
  position: absolute;
  bottom: 0;
  right: 0;
}

.chat-toggle-button:hover {
  background-color: var(--coral-accent);
}

.chat-container.open .chat-toggle-button {
  border-radius: 0;
  position: relative;
  width: 100%;
  height: 40px;
}

.messages-list {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.message-item {
  display: flex;
  gap: 10px;
  max-width: 80%;
  word-wrap: break-word;
}

.message-content {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  border-radius: 18px;
}

.my-message {
  flex-direction: row-reverse;
  align-self: flex-end;
}

.my-message .message-content {
  align-items: flex-end;
  background-color: var(--medium-jungle);
  color: var(--light-text);
}

.other-message {
  align-self: flex-start;
}

.other-message .message-content {
  align-items: flex-start;
  background-color: var(--light-grey-background);
  color: var(--lime-cream);
}

.player-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  align-self: flex-end;
}

.message-sender {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 4px;
  color: var(--rust-brown);
}

.system-message {
  align-self: center;
  background-color: var(--light-grey-background);
  color: #888;
  font-style: italic;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 8px;
  padding: 4px 8px;
}

.message-form {
  display: flex;
  border-top: 1px solid #e0e0e03d;
}

.message-input {
  flex-grow: 1;
  border: none;
  background-color: #ffffff5e;
  padding: 15px;
  color: var(--lime-cream);
  border-right: 1px solid #e0e0e0;
}

.message-input:focus {
  outline: none;
  background-color: var(--light-grey-background);
}

.send-button {
  border: none;
  background-color: var(--medium-jungle);
  color: var(--light-text);
  padding: 0 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.2s;
}

.send-button:hover {
  background-color: var(--coral-accent);
}
